body{
    background-color: #241E1E;
    color: #ffff;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.main-container{
    padding: 12px;
}

h2{
    padding: 12px;
}

label{
    font-size: 15px;
    font-weight: 400;
}

.input-form{
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #454545;
    color: #ffff;
}

.input-form::placeholder{
    color: #ffff;
}